<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="./my first project.css" />
    <img src="./../assets/top.png"/><h1>docplanner group</h1> 
    <center><img src="./../assets/top.png"/></center>
    
   <center><h1>Making the healthcare experience more</h1></center>
   <center><h1>human</h1></center>
   <br>We want patients to find the perfect</br><br>doctor and book an appointment in the</br><br> most easy way. The patient journey</br><br>should be enjoyable, and that's why we</br><br> are always next to them: to help them</br><br> find the best possible care. Anytime,</br><br> anywhere.</br>
   <br>We also help doctors to better manage</br><br> their practice and build their online</br><br> reputation. With our integrated end-to-</br><br>end solution, doctors are able not only</br><br>to improve their online presence, but</br><br> also to devote their time to what really</br><br> matters: their patients.</br>

</body>
</html>